* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:visited,
a:hover {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.link {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.description {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
